.u-section-1 {
  background-image: linear-gradient(#e5e5e5, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 28px 717px 0 80px;
}

.u-section-1 .u-group-1 {
  width: 440px;
  min-height: 283px;
  margin: 39px 102px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 438px;
  height: 26px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 438px;
  height: 26px;
  margin: 15px 0 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 438px;
  height: 26px;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 438px;
  height: 27px;
  margin: -197px 0 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 438px;
  height: 27px;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 438px;
  height: 27px;
  margin: -114px 0 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 438px;
  height: 27px;
  margin: -67px 0 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 408px;
  height: 27px;
  animation-duration: 1000ms;
  margin: -27px 32px 0 2px;
}

.u-section-1 .u-shape-9 {
  width: 370px;
  height: 27px;
  animation-duration: 1000ms;
  margin: 13px 70px 0 2px;
}

.u-section-1 .u-shape-10 {
  width: 345px;
  height: 27px;
  animation-duration: 1000ms;
  margin: 16px 95px 0 0;
}

.u-section-1 .u-shape-11 {
  width: 372px;
  height: 27px;
  animation-duration: 1000ms;
  margin: 17px 68px 0 0;
}

.u-section-1 .u-shape-12 {
  width: 244px;
  height: 27px;
  animation-duration: 1000ms;
  margin: 16px 196px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -195px 358px 0 27px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 14px 376px 0 27px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 18px 333px 0 27px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 19px 333px 0 27px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 18px 368px 0 27px;
}

.u-section-1 .u-shape-13 {
  width: 308px;
  height: 27px;
  animation-duration: 1000ms;
  margin: 15px 132px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -26px 357px 0 27px;
}

.u-section-1 .u-shape-14 {
  width: 177px;
  height: 27px;
  animation-duration: 1000ms;
  margin: 17px 263px 0 2px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -26px 365px 0 27px;
}

.u-section-1 .u-group-2 {
  width: 36px;
  min-height: 285px;
  animation-duration: 1000ms;
  margin: -282px auto 0 -42px;
}

.u-section-1 .u-image-1 {
  width: 30px;
  height: 30px;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 23px;
  height: 23px;
  margin: 14px auto 0 7px;
}

.u-section-1 .u-image-4 {
  width: 23px;
  height: 23px;
  margin: 18px auto 0 7px;
}

.u-section-1 .u-image-5 {
  width: 31px;
  height: 31px;
  margin: 15px auto 0 3px;
}

.u-section-1 .u-image-6 {
  width: 31px;
  height: 31px;
  animation-duration: 1000ms;
  margin: 12px auto 0 3px;
}

.u-section-1 .u-image-7 {
  width: 27px;
  height: 27px;
  margin: 14px auto 0 5px;
}

.u-section-1 .u-image-8 {
  width: 204px;
  height: 204px;
  background-image: url("images/fotocv.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -248px auto 0 150px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 18px 813px 0 176px;
}

.u-section-1 .u-text-10 {
  margin: 16px 717px 0 80px;
}

.u-section-1 .u-group-3 {
  width: 196px;
  min-height: 182px;
  margin: 41px auto 0 176px;
}

.u-section-1 .u-image-9 {
  width: 66px;
  height: 66px;
  animation-duration: 1000ms;
  margin: 0 auto 0 65px;
}

.u-section-1 .u-text-11 {
  margin: 5px 33px 0;
}

.u-section-1 .u-text-12 {
  margin: 15px 0 0;
}

.u-section-1 .u-group-4 {
  width: 169px;
  min-height: 182px;
  margin: -182px auto 0;
}

.u-section-1 .u-image-10 {
  width: 62px;
  height: 62px;
  animation-duration: 1000ms;
  margin: 0 auto 0 54px;
}

.u-section-1 .u-text-13 {
  margin: 9px 52px 0 41px;
}

.u-section-1 .u-text-14 {
  margin: 15px 0 0;
}

.u-section-1 .u-group-5 {
  width: 161px;
  min-height: 184px;
  margin: -182px 194px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 66px;
  height: 66px;
  animation-duration: 1000ms;
  margin: 0 94px 0 47px;
}

.u-section-1 .u-text-15 {
  margin: 7px 33px 0;
}

.u-section-1 .u-text-16 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 597px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 31px;
    margin-left: 1px;
  }

  .u-section-1 .u-shape-9 {
    margin-right: 69px;
    margin-left: 1px;
  }

  .u-section-1 .u-shape-14 {
    margin-right: 262px;
    margin-left: 1px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-8 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 687px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 570px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 122px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -184px;
    margin-right: 130px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-image-11 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-right: 377px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 281px;
    margin-right: 121px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -544px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -204px;
    margin-right: 121px;
    margin-left: 448px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 41px;
    margin-right: 28px;
    margin-left: 349px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 435px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-10 {
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    margin-right: 50px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 37px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 8px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 264px;
    margin-right: 33px;
  }

  .u-section-1 .u-image-8 {
    width: 148px;
    height: 148px;
    margin-top: -527px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -168px;
    margin-right: 71px;
    margin-left: 319px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 30px;
    margin-right: 22px;
    margin-left: 270px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 369px;
    margin-left: 12px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 165px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 287px;
    width: 290px;
    margin-top: 250px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 278px;
    height: 25px;
    margin-top: 172px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 276px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 276px;
    height: 25px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 278px;
    margin-top: -198px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-5 {
    width: 277px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 278px;
    height: 26px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-7 {
    width: 272px;
    height: 25px;
    margin-top: -64px;
    margin-right: auto;
    margin-left: 5px;
  }

  .u-section-1 .u-shape-8 {
    width: 232px;
    height: 25px;
    margin-top: -25px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-9 {
    width: 194px;
    height: 26px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-10 {
    width: 177px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-11 {
    width: 194px;
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-12 {
    width: 153px;
    height: 25px;
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -194px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-shape-13 {
    width: 161px;
    height: 26px;
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-shape-14 {
    width: 106px;
    height: 26px;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 2px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-1 .u-group-2 {
    margin-left: -48px;
  }

  .u-section-1 .u-image-8 {
    width: 99px;
    height: 99px;
    margin-top: -461px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -170px;
    margin-right: 57px;
    margin-left: 184px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 152px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 322px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 15px;
    margin-right: auto;
  }
}.u-section-2 {
  background-image: url("images/c4db046708fa6415f707748b053d0d299c748c97db045fa9486aad49e45015bd0840699885cba3e672a92512371a52fe54a29d80d1a3a5a93cf5b8_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: 26px 742px 0 55px;
}

.u-section-2 .u-gallery-1 {
  height: 330px;
  width: 913px;
  margin: 51px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-2 .u-back-image-1 {
  object-position: 0% 50%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-3 {
  object-position: 1.9% 50%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 26px 418px 0 504px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 7px 74px 0 570px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 7px 141px 60px auto;
  padding: 4px 30px 5px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 597px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-text-2 {
    margin-right: 318px;
    margin-left: 404px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 444px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 129px;
    margin-bottom: 53px;
    padding: 3px 16px 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 377px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1165px;
    width: 534px;
    margin-top: 82px;
    margin-right: 60px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 19px 19px;
    grid-template-columns: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 77px;
    margin-right: 360px;
    margin-left: 142px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-right: 79px;
    margin-left: 145px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
    margin-right: 50px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1714px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 107px;
    margin-right: 6px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 52px 52px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 84px;
    margin-right: 300px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-right: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 823px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-2 {
    margin-top: 110px;
    margin-right: 122px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 729px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 669px;
}

.u-section-3 .u-container-layout-1 {
  padding: 28px 12px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 9px 340px 0 15px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 2px;
  margin: 27px 9px 0;
}

.u-section-3 .u-image-1 {
  width: 166px;
  height: 166px;
  background-image: url("images/fotocv.jpg");
  background-position: 50% 50%;
  margin: 36px auto 0 174px;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #c0c0c0);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 27px auto 0 197px;
  padding: 9px 22px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 191px auto 0 115px;
}

.u-section-3 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 272px;
  min-width: 146px;
  animation-duration: 1000ms;
  margin: -29px 36px 0 auto;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-3 .u-icon-6 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 669px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-form-1 {
  height: 463px;
  width: 510px;
  margin: 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-label-2 {
  font-weight: 700;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-label-3 {
  font-weight: 700;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 933px;
    margin-top: 64px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 688px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: 266px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 83px;
    margin-right: -46px;
    margin-left: auto;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 12px;
    margin-right: -136px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-3 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 738px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 156px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 51px;
  }

  .u-section-3 .u-text-3 {
    font-weight: 700;
    margin-top: 90px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -43px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 693px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-top: 108px;
    margin-right: 210px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 101px;
    margin-right: auto;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 20px;
  }
}