<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../images/devicon.png" />
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Resume</title>
</head>
<body class="containerc">
    <!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="../images/fotocv.jpg" alt="My Picture" /></a>
					<h1><strong>FrontEnd Developer</strong></h1>
                    <h1>Jorge Morais</h1>
				</div>
                <button class="btn button"><i class="fa fa-download"></i> Download</button>
			</header>

            <div id="maincv" >
                <img class="img-cvpt" src="../images/cvpt.png">

            </div>
    
</body>
</html>
